[Desktop Entry]
Name=CodyNo
Exec=/usr/lib/CodyNo/CodyNo %U
Icon=/usr/share/pixmaps/CodyNo.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/codyno;
