[Desktop Entry]
Name=CodyNo
Exec=/usr/lib/codyno/CodyNo %U
Icon=/usr/share/pixmaps/codyno.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/codyno;
